In [1]:
import findspark

In [8]:
!pwd

/home/i-sip_iot/PycharmProjects/ETL_DataIngestion/spark

In [2]:
findspark.init('/home/i-sip_iot/spark-3.0.1-bin-hadoop2.7')

In [3]:
import pyspark

In [4]:
from pyspark.sql import SparkSession

A SparkSession can be used create DataFrame, register DataFrame as tables, execute SQL over tables, cache tables, and read parquet files. To create a SparkSession, use the following builder pattern:

In [9]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

#### builder
A class attribute having a Builder to construct SparkSession instances.

#### class Builder[source]
Builder for SparkSession.

#### appName(name)[source]
Sets a name for the application, which will be shown in the Spark web UI.

If no application name is set, a randomly generated name will be used.

Parameters
name â€“ an application name

New in version 2.0.

#### getOrCreate()[source]
Gets an existing SparkSession or, if there is no existing one, creates a new one based on the options set in this builder.

This method first checks whether there is a valid global default SparkSession, and if yes, return that one. If no valid global default SparkSession exists, the method creates a new SparkSession and assigns the newly created SparkSession as the global default.

In [10]:
df = spark.read.json('people.json')

In [11]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [12]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [13]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [14]:
from pyspark.sql.types import StructField, IntegerType, StructType, StringType

In [15]:
dataSchema = [StructField('age', IntegerType(), True),
             StructField('name', StringType(), True)]

In [16]:
final_struct = StructType(fields=dataSchema)

Now READ the data with new SCHEMA

In [17]:
df = spark.read.json('people.json', schema=final_struct)

In [18]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [19]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [20]:
import findspark

In [21]:
findspark.init('/home/i-sip_iot/spark-3.0.1-bin-hadoop2.7')

In [22]:
import pyspark

In [24]:
from pyspark.sql import SparkSession

In [26]:
spark = SparkSession.builder.appName('test').getOrCreate()

In [28]:
df = spark.read.json('people.json')

In [30]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [32]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [38]:
df.head()

Row(age=None, name='Michael')

In [40]:
df.schema

StructType(List(StructField(age,LongType,true),StructField(name,StringType,true)))

In [70]:
from pyspark.sql.types import StringType, StructField, StructType, IntegerType

In [71]:
dataSchema = [StructField('age',IntegerType(),True),
             StructField('name',StringType(),True)]

In [72]:
structofChoice = StructType(dataSchema)

In [73]:
df = spark.read.json('people.json', schema=structofChoice)

In [74]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [75]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [76]:
df.schema

StructType(List(StructField(age,IntegerType,true),StructField(name,StringType,true)))

In [77]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [78]:
df.select(['age']).show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [79]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [80]:
df.withColumn('newage', df['age']).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [81]:
df.withColumnRenamed('age', 'newage').show()

+------+-------+
|newage|   name|
+------+-------+
|  null|Michael|
|    30|   Andy|
|    19| Justin|
+------+-------+

In [86]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [96]:
df.createOrReplaceGlobalTempView('table1')

In [97]:
results = spark.sql("SELECT * FROM global_temp.table1")

In [98]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [99]:
res = spark.sql("SELECT * FROM global_temp.table1 WHERE age=30")

In [100]:
res.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

In [1]:
import findspark

In [2]:
findspark.init('/home/i-sip_iot/spark-3.0.1-bin-hadoop2.7')

In [3]:
import pyspark

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('basic').getOrCreate()

In [6]:
df = spark.read.json('people.json')

In [7]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [8]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [12]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [13]:
df.schema

StructType(List(StructField(age,LongType,true),StructField(name,StringType,true)))

In [14]:
from pyspark.sql.types import StringType, StructField, StructType, IntegerType

In [20]:
data_schema = [StructField('age', IntegerType(), True), StructField('name', StringType(), True)]

In [23]:
structofChoice = StructType(data_schema)

In [24]:
df = spark.read.json('people.json', schema=structofChoice)

In [26]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [32]:
df.withColumn('naage', df['age']).show()

+----+-------+-----+
| age|   name|naage|
+----+-------+-----+
|null|Michael| null|
|  30|   Andy|   30|
|  19| Justin|   19|
+----+-------+-----+

In [34]:
df.withColumnRenamed('age', 'newage').show()

+------+-------+
|newage|   name|
+------+-------+
|  null|Michael|
|    30|   Andy|
|    19| Justin|
+------+-------+

In [36]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [37]:
df.createOrReplaceGlobalTempView('tab1')

In [45]:
data_ = spark.sql("SELECT * FROM global_temp.tab1 WHERE age=19").show()

+---+------+
|age|  name|
+---+------+
| 19|Justin|
+---+------+

In [44]:
data_.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

# READ CSV

In [47]:
import findspark

In [48]:
findspark.init('/home/i-sip_iot/spark-3.0.1-bin-hadoop2.7')

In [49]:
import pyspark

In [50]:
from pyspark.sql import SparkSession

In [51]:
spark = SparkSession.builder.appName('rcsv').getOrCreate()

In [58]:
df_n = spark.read.csv('appl_stock.csv', header=True, inferSchema=True)

In [61]:
df_n.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [60]:
df_n.head(3)

[Row(Date='2010-01-04', Open=213.429998, High=214.499996, Low=212.38000099999996, Close=214.009998, Volume=123432400, Adj Close=27.727039),
 Row(Date='2010-01-05', Open=214.599998, High=215.589994, Low=213.249994, Close=214.379993, Volume=150476200, Adj Close=27.774976000000002),
 Row(Date='2010-01-06', Open=214.379993, High=215.23, Low=210.750004, Close=210.969995, Volume=138040000, Adj Close=27.333178000000004)]

In [62]:
df_n.head(3)[0]

Row(Date='2010-01-04', Open=213.429998, High=214.499996, Low=212.38000099999996, Close=214.009998, Volume=123432400, Adj Close=27.727039)

In [63]:
df_n.show()

+----------+------------------+------------------+------------------+------------------+---------+------------------+
|      Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [65]:
df_n.filter('Low < 200').show()

+----------+------------------+------------------+------------------+------------------+---------+------------------+
|      Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-22|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-27|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
|2010-02-02|        195.909998|        196.319994|193.37999299999998|        195.859997|174585600|25.375532999999997|
|2010-02-03|        195.169994|        200.200003|        194.420004|        199.229994|153832000|25.812148999999998|
|2010-02-04|        196.730003|        198.370001|        191.570005|        192.050003|189413000|         24.881912|
|2010-02-05|192.63000300000002|             196.0|        190.850002|        195.460001|212576700|25.323710000000002|
|2010-02-08|        195.690006|197.88000300000002|        193.999994|194.11999699999998|119567700|           25.1501|
|2010-02-09|        196.419996|        197.499994|        194.749998|196.19000400000002|158221700|         25.418289|
|2010-02-10|        195.889997|             196.6|            194.26|195.12000700000002| 92590400|          25.27966|
|2010-02-11|        194.880001|        199.750006|194.05999599999998|        198.669994|137586400|         25.739595|
|2010-02-12|        198.109995|        201.639996|        195.500002|200.37999299999998|163867200|25.961142000000002|
|2010-02-22|        202.339998|        202.500002|        199.190006|        200.419994| 97640900|         25.966324|
|2010-02-23|        199.999998|        201.330002|        195.709993|        197.059998|143773700|         25.531005|
|2010-02-24|        198.229998|201.44000400000002|        197.840002|            200.66|115141600|         25.997419|
|2010-02-25|        197.380005|        202.859997|        196.889994|        202.000004|166281500|          26.17103|
|2010-05-06|        253.830002|        258.249996|        199.249994|        246.249989|321465200|         31.904038|
|2014-06-09|         92.699997|         93.879997|             91.75|         93.699997| 75415000|         88.906324|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [66]:
df_n.filter('Low < 200').select(df_n['High']).show()

+------------------+
|              High|
+------------------+
|        207.499996|
|            210.58|
|        205.500004|
|        202.199995|
|             196.0|
|        196.319994|
|        200.200003|
|        198.370001|
|             196.0|
|197.88000300000002|
|        197.499994|
|             196.6|
|        199.750006|
|        201.639996|
|        202.500002|
|        201.330002|
|201.44000400000002|
|        202.859997|
|        258.249996|
|         93.879997|
+------------------+
only showing top 20 rows

In [67]:
df_n.filter('Low < 200').select(df_n['High']>200).show()

+------------+
|(High > 200)|
+------------+
|        true|
|        true|
|        true|
|        true|
|       false|
|       false|
|        true|
|       false|
|       false|
|       false|
|       false|
|       false|
|       false|
|        true|
|        true|
|        true|
|        true|
|        true|
|        true|
|       false|
+------------+
only showing top 20 rows

In [69]:
df_n.filter('Low < 200').select(['High', 'Volume']).show()

+------------------+---------+
|              High|   Volume|
+------------------+---------+
|        207.499996|220441900|
|            210.58|430642100|
|        205.500004|293375600|
|        202.199995|311488100|
|             196.0|187469100|
|        196.319994|174585600|
|        200.200003|153832000|
|        198.370001|189413000|
|             196.0|212576700|
|197.88000300000002|119567700|
|        197.499994|158221700|
|             196.6| 92590400|
|        199.750006|137586400|
|        201.639996|163867200|
|        202.500002| 97640900|
|        201.330002|143773700|
|201.44000400000002|115141600|
|        202.859997|166281500|
|        258.249996|321465200|
|         93.879997| 75415000|
+------------------+---------+
only showing top 20 rows

In [70]:
df_n.filter((df_n['Low']<200) & (df_n['High']>200)).select(['Volume']).show()

+---------+
|   Volume|
+---------+
|220441900|
|430642100|
|293375600|
|311488100|
|153832000|
|163867200|
| 97640900|
|143773700|
|115141600|
|166281500|
|321465200|
+---------+

In [75]:
result = df_n.filter(df_n['Low']==197.16).collect()
result[0]

Row(Date='2010-01-22', Open=206.78000600000001, High=207.499996, Low=197.16, Close=197.75, Volume=220441900, Adj Close=25.620401)

In [79]:
result[0].asDict()

{'Date': '2010-01-22',
 'Open': 206.78000600000001,
 'High': 207.499996,
 'Low': 197.16,
 'Close': 197.75,
 'Volume': 220441900,
 'Adj Close': 25.620401}

# New Practice Session 4

In [3]:
import findspark

In [4]:
findspark.init('/home/i-sip_iot/spark-3.0.1-bin-hadoop2.7')

In [5]:
import pyspark

In [6]:
from pyspark.sql import SparkSession

In [7]:
spark = SparkSession.builder.appName('basic').getOrCreate()

#### read json file

In [8]:
df = spark.read.json('people.json')

In [9]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [10]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [11]:
df.schema

StructType(List(StructField(age,LongType,true),StructField(name,StringType,true)))

In [12]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

In [13]:
schema_type = [StructField('age', IntegerType(), True)
              ,StructField('name', StringType(), True)]

In [14]:
schema_typeStruct = StructType(schema_type)

In [15]:
df = spark.read.json('people.json', schema=schema_typeStruct)

In [16]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [18]:
df.select('name').show()

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+

In [20]:
df.select('name').filter(df['age']==19).show()

+------+
|  name|
+------+
|Justin|
+------+

In [22]:
df.withColumn('newage', df['age']).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [24]:
df.withColumnRenamed('age', 'newage').show()

+------+-------+
|newage|   name|
+------+-------+
|  null|Michael|
|    30|   Andy|
|    19| Justin|
+------+-------+

In [25]:
df.withColumnRenamed('age', 'newage').collect()

[Row(newage=None, name='Michael'),
 Row(newage=30, name='Andy'),
 Row(newage=19, name='Justin')]

Table mode -- sql

In [26]:
df.createOrReplaceGlobalTempView('table1')

In [30]:
query1 = spark.sql("SELECT * FROM global_temp.table1")
query1.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [47]:
query1 = spark.sql("SELECT age FROM global_temp.table1 WHERE name='Andy'")
result = query1.collect()
result[0].asDict()

{'age': 30}

#### Reading CSV

In [48]:
df = spark.read.csv('appl_stock.csv', header=True, inferSchema=True)

In [49]:
df.show()

+----------+------------------+------------------+------------------+------------------+---------+------------------+
|      Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [52]:
df.select('Volume').filter(df['High'] > 200).show()

+---------+
|   Volume|
+---------+
|123432400|
|150476200|
|138040000|
|119282800|
|111902700|
|115557400|
|148614900|
|151473000|
|108223500|
|148516900|
|182501900|
|153038200|
|152038600|
|220441900|
|266424900|
|466777500|
|430642100|
|293375600|
|311488100|
|153832000|
+---------+
only showing top 20 rows

In [53]:
df.select(['Volume', 'Adj Close']).filter((df['High'] > 200) & (df['Low'] < 200)).show()

+---------+------------------+
|   Volume|         Adj Close|
+---------+------------------+
|220441900|         25.620401|
|430642100|26.932840000000002|
|293375600|25.819922000000002|
|311488100|         24.883208|
|153832000|25.812148999999998|
|163867200|25.961142000000002|
| 97640900|         25.966324|
|143773700|         25.531005|
|115141600|         25.997419|
|166281500|          26.17103|
|321465200|         31.904038|
+---------+------------------+

In [56]:
result = df.select(['Volume', 'Adj Close']).filter((df['High'] > 200) & (df['Low'] < 200)).collect()
result[0].asDict()

{'Volume': 220441900, 'Adj Close': 25.620401}

GroupBy

In [57]:
df = spark.read.csv('sales_info.csv', header=True, inferSchema=True)

In [58]:
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|   APPL|  Chris|350.0|
+-------+-------+-----+

In [59]:
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: double (nullable = true)

In [66]:
df.groupBy('Company').sum().show()

+-------+----------+
|Company|sum(Sales)|
+-------+----------+
|   APPL|    1480.0|
|   GOOG|     660.0|
|     FB|    1220.0|
|   MSFT|     967.0|
+-------+----------+

In [67]:
df.groupBy('Company').mean().show()

+-------+-----------------+
|Company|       avg(Sales)|
+-------+-----------------+
|   APPL|            370.0|
|   GOOG|            220.0|
|     FB|            610.0|
|   MSFT|322.3333333333333|
+-------+-----------------+

In [68]:
df.groupBy('Company').max().show()

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

In [69]:
df.groupBy('Company').min().show()

+-------+----------+
|Company|min(Sales)|
+-------+----------+
|   APPL|     130.0|
|   GOOG|     120.0|
|     FB|     350.0|
|   MSFT|     124.0|
+-------+----------+

In [73]:
df.agg({'Sales':'max'}).show()

+----------+
|max(Sales)|
+----------+
|     870.0|
+----------+

In [75]:
groupedCompany = df.groupBy('Company')

groupedCompany.agg({'Sales':'max'}).show()

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

In [76]:
from pyspark.sql.functions import countDistinct, avg, stddev

In [78]:
df.select(countDistinct('Sales')).show()

+---------------------+
|count(DISTINCT Sales)|
+---------------------+
|                   11|
+---------------------+

In [80]:
df.select(stddev('Sales').alias('Standard Deviation')).show()

+------------------+
|Standard Deviation|
+------------------+
|250.08742410799007|
+------------------+

In [81]:
from pyspark.sql.functions import format_number

In [88]:
std_dev = df.select(stddev('Sales'))
std_dev.show()

+------------------+
|stddev_samp(Sales)|
+------------------+
|250.08742410799007|
+------------------+

In [90]:
std_dev.select(format_number('stddev_samp(Sales)', 2).alias('Std')).show()

+------+
|   Std|
+------+
|250.09|
+------+

In [91]:
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|   APPL|  Chris|350.0|
+-------+-------+-----+

In [93]:
df.orderBy(df['Sales'].desc()).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|     FB|   Carl|870.0|
|   APPL|   Mike|750.0|
|   MSFT|   Tina|600.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   GOOG|  Frank|340.0|
|   APPL|   John|250.0|
|   MSFT|Vanessa|243.0|
|   GOOG|    Sam|200.0|
|   APPL|  Linda|130.0|
|   MSFT|    Amy|124.0|
|   GOOG|Charlie|120.0|
+-------+-------+-----+