# Logistic Regression Consulting Project

## Binary Customer Churn

A marketing agency has many customers that use their service to produce ads for the client/customer websites. They've noticed that they have quite a bit of churn in clients. They basically randomly assign account managers right now, but want you to create a machine learning model that will help predict which customers will churn (stop buying their service) so that they can correctly assign the customers most at risk to churn an account manager. Luckily they have some historical data, can you help them out? Create a classification algorithm that will help classify whether or not a customer churned. Then the company can test this against incoming data for future customers to predict which customers will churn and assign them an account manager.

The data is saved as customer_churn.csv. Here are the fields and their definitions:

    Name : Name of the latest contact at Company
    Age: Customer Age
    Total_Purchase: Total Ads Purchased
    Account_Manager: Binary 0=No manager, 1= Account manager assigned
    Years: Totaly Years as a customer
    Num_sites: Number of websites that use the service.
    Onboard_date: Date that the name of the latest contact was onboarded
    Location: Client HQ Address
    Company: Name of Client Company
    
Once you've created the model and evaluated it, test out the model on some new data (you can think of this almost like a hold-out set) that your client has provided, saved under new_customers.csv. The client wants to know which customers are most likely to churn given this data (they don't have the label yet).

In [1]:
import findspark

In [2]:
findspark.init('/home/i-sip_iot/spark-3.0.1-bin-hadoop2.7')

In [3]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('LogReg').getOrCreate()

In [6]:
df = spark.read.csv('customer_churn.csv', inferSchema=True, header=True)

In [7]:
df.show()

+-------------------+----+--------------+---------------+-----+---------+-------------------+--------------------+--------------------+-----+
|              Names| Age|Total_Purchase|Account_Manager|Years|Num_Sites|       Onboard_date|            Location|             Company|Churn|
+-------------------+----+--------------+---------------+-----+---------+-------------------+--------------------+--------------------+-----+
|   Cameron Williams|42.0|       11066.8|              0| 7.22|      8.0|2013-08-30 07:00:40|10265 Elizabeth M...|          Harvey LLC|    1|
|      Kevin Mueller|41.0|      11916.22|              0|  6.5|     11.0|2013-08-13 00:38:46|6157 Frank Garden...|          Wilson PLC|    1|
|        Eric Lozano|38.0|      12884.75|              0| 6.67|     12.0|2016-06-29 06:20:07|1331 Keith Court ...|Miller, Johnson a...|    1|
|      Phillip White|42.0|       8010.76|              0| 6.71|     10.0|2014-04-22 12:43:12|13120 Daniel Moun...|           Smith Inc|    1|
|     Cynthia Norton|37.0|       9191.58|              0| 5.56|      9.0|2016-01-19 15:31:15|765 Tricia Row Ka...|          Love-Jones|    1|
|   Jessica Williams|48.0|      10356.02|              0| 5.12|      8.0|2009-03-03 23:13:37|6187 Olson Mounta...|        Kelly-Warren|    1|
|        Eric Butler|44.0|      11331.58|              1| 5.23|     11.0|2016-12-05 03:35:43|4846 Savannah Roa...|   Reynolds-Sheppard|    1|
|      Zachary Walsh|32.0|       9885.12|              1| 6.92|      9.0|2006-03-09 14:50:20|25271 Roy Express...|          Singh-Cole|    1|
|        Ashlee Carr|43.0|       14062.6|              1| 5.46|     11.0|2011-09-29 05:47:23|3725 Caroline Str...|           Lopez PLC|    1|
|     Jennifer Lynch|40.0|       8066.94|              1| 7.11|     11.0|2006-03-28 15:42:45|363 Sandra Lodge ...|       Reed-Martinez|    1|
|       Paula Harris|30.0|      11575.37|              1| 5.22|      8.0|2016-11-13 13:13:01|Unit 8120 Box 916...|Briggs, Lamb and ...|    1|
|     Bruce Phillips|45.0|       8771.02|              1| 6.64|     11.0|2015-05-28 12:14:03|Unit 1895 Box 094...|    Figueroa-Maynard|    1|
|       Craig Garner|45.0|       8988.67|              1| 4.84|     11.0|2011-02-16 08:10:47|897 Kelley Overpa...|     Abbott-Thompson|    1|
|       Nicole Olson|40.0|       8283.32|              1|  5.1|     13.0|2012-11-22 05:35:03|11488 Weaver Cape...|Smith, Kim and Ma...|    1|
|     Harold Griffin|41.0|       6569.87|              1|  4.3|     11.0|2015-03-28 02:13:44|1774 Peter Row Ap...|Snyder, Lee and M...|    1|
|       James Wright|38.0|      10494.82|              1| 6.81|     12.0|2015-07-22 08:38:40|45408 David Path ...|      Sanders-Pierce|    1|
|      Doris Wilkins|45.0|       8213.41|              1| 7.35|     11.0|2006-09-03 06:13:55|28216 Wright Moun...|Andrews, Adams an...|    1|
|Katherine Carpenter|43.0|      11226.88|              0| 8.08|     12.0|2006-10-22 04:42:38|Unit 4948 Box 481...|Morgan, Phillips ...|    1|
|     Lindsay Martin|53.0|       5515.09|              0| 6.85|      8.0|2015-10-07 00:27:10|69203 Crosby Divi...|      Villanueva LLC|    1|
|        Kathy Curry|46.0|        8046.4|              1| 5.69|      8.0|2014-11-06 23:47:14|9569 Caldwell Cre...|Berry, Orr and Ca...|    1|
+-------------------+----+--------------+---------------+-----+---------+-------------------+--------------------+--------------------+-----+
only showing top 20 rows

In [8]:
df.describe().show()

+-------+-------------+-----------------+-----------------+------------------+-----------------+------------------+-------------------+--------------------+--------------------+-------------------+
|summary|        Names|              Age|   Total_Purchase|   Account_Manager|            Years|         Num_Sites|       Onboard_date|            Location|             Company|              Churn|
+-------+-------------+-----------------+-----------------+------------------+-----------------+------------------+-------------------+--------------------+--------------------+-------------------+
|  count|          900|              900|              900|               900|              900|               900|                900|                 900|                 900|                900|
|   mean|         null|41.81666666666667|10062.82403333334|0.4811111111111111| 5.27315555555555| 8.587777777777777|               null|                null|                null|0.16666666666666666|
| stddev|         null|6.127560416916251|2408.644531858096|0.4999208935073339|1.274449013194616|1.7648355920350969|               null|                null|                null| 0.3728852122772358|
|    min|   Aaron King|             22.0|            100.0|                 0|              1.0|               3.0|2006-01-02 04:16:13|00103 Jeffrey Cre...|     Abbott-Thompson|                  0|
|    max|Zachary Walsh|             65.0|         18026.01|                 1|             9.15|              14.0|2016-12-28 04:07:38|Unit 9800 Box 287...|Zuniga, Clark and...|                  1|
+-------+-------------+-----------------+-----------------+------------------+-----------------+------------------+-------------------+--------------------+--------------------+-------------------+

In [10]:
df.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Total_Purchase: double (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Years: double (nullable = true)
 |-- Num_Sites: double (nullable = true)
 |-- Onboard_date: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Churn: integer (nullable = true)

In [14]:
df.select(['Onboard_date', 'Location', 'Company', 'Churn']).show()

+-------------------+--------------------+--------------------+-----+
|       Onboard_date|            Location|             Company|Churn|
+-------------------+--------------------+--------------------+-----+
|2013-08-30 07:00:40|10265 Elizabeth M...|          Harvey LLC|    1|
|2013-08-13 00:38:46|6157 Frank Garden...|          Wilson PLC|    1|
|2016-06-29 06:20:07|1331 Keith Court ...|Miller, Johnson a...|    1|
|2014-04-22 12:43:12|13120 Daniel Moun...|           Smith Inc|    1|
|2016-01-19 15:31:15|765 Tricia Row Ka...|          Love-Jones|    1|
|2009-03-03 23:13:37|6187 Olson Mounta...|        Kelly-Warren|    1|
|2016-12-05 03:35:43|4846 Savannah Roa...|   Reynolds-Sheppard|    1|
|2006-03-09 14:50:20|25271 Roy Express...|          Singh-Cole|    1|
|2011-09-29 05:47:23|3725 Caroline Str...|           Lopez PLC|    1|
|2006-03-28 15:42:45|363 Sandra Lodge ...|       Reed-Martinez|    1|
|2016-11-13 13:13:01|Unit 8120 Box 916...|Briggs, Lamb and ...|    1|
|2015-05-28 12:14:03|Unit 1895 Box 094...|    Figueroa-Maynard|    1|
|2011-02-16 08:10:47|897 Kelley Overpa...|     Abbott-Thompson|    1|
|2012-11-22 05:35:03|11488 Weaver Cape...|Smith, Kim and Ma...|    1|
|2015-03-28 02:13:44|1774 Peter Row Ap...|Snyder, Lee and M...|    1|
|2015-07-22 08:38:40|45408 David Path ...|      Sanders-Pierce|    1|
|2006-09-03 06:13:55|28216 Wright Moun...|Andrews, Adams an...|    1|
|2006-10-22 04:42:38|Unit 4948 Box 481...|Morgan, Phillips ...|    1|
|2015-10-07 00:27:10|69203 Crosby Divi...|      Villanueva LLC|    1|
|2014-11-06 23:47:14|9569 Caldwell Cre...|Berry, Orr and Ca...|    1|
+-------------------+--------------------+--------------------+-----+
only showing top 20 rows

In [13]:
from pyspark.ml.pipeline import Pipeline

from pyspark.ml.feature import VectorAssembler

In [15]:
Vect_Feature = VectorAssembler(inputCols=['Age', 'Total_Purchase', 
                                          'Account_Manager', 'Years', 
                                          'Num_Sites'], outputCol='features')

In [22]:
dfn = Vect_Feature.transform(df)

In [23]:
df_n = dfn.select(['features', 'Churn'])

In [25]:
df_n.show()

+--------------------+-----+
|            features|Churn|
+--------------------+-----+
|[42.0,11066.8,0.0...|    1|
|[41.0,11916.22,0....|    1|
|[38.0,12884.75,0....|    1|
|[42.0,8010.76,0.0...|    1|
|[37.0,9191.58,0.0...|    1|
|[48.0,10356.02,0....|    1|
|[44.0,11331.58,1....|    1|
|[32.0,9885.12,1.0...|    1|
|[43.0,14062.6,1.0...|    1|
|[40.0,8066.94,1.0...|    1|
|[30.0,11575.37,1....|    1|
|[45.0,8771.02,1.0...|    1|
|[45.0,8988.67,1.0...|    1|
|[40.0,8283.32,1.0...|    1|
|[41.0,6569.87,1.0...|    1|
|[38.0,10494.82,1....|    1|
|[45.0,8213.41,1.0...|    1|
|[43.0,11226.88,0....|    1|
|[53.0,5515.09,0.0...|    1|
|[46.0,8046.4,1.0,...|    1|
+--------------------+-----+
only showing top 20 rows

In [26]:
from pyspark.ml.classification import LogisticRegression

In [27]:
train_df, tst_df = df_n.randomSplit([0.7, 0.3])

In [28]:
train_df.describe().show()

+-------+-------------------+
|summary|              Churn|
+-------+-------------------+
|  count|                631|
|   mean|0.16323296354992076|
| stddev| 0.3698712876817587|
|    min|                  0|
|    max|                  1|
+-------+-------------------+

In [29]:
tst_df.describe().show()

+-------+-------------------+
|summary|              Churn|
+-------+-------------------+
|  count|                269|
|   mean|0.17472118959107807|
| stddev| 0.3804362386474134|
|    min|                  0|
|    max|                  1|
+-------+-------------------+

In [31]:
model = LogisticRegression(featuresCol='features', labelCol='Churn', predictionCol='prediction')

In [32]:
trained = model.fit(train_df)

In [33]:
result = trained.evaluate(tst_df)

In [34]:
result.accuracy

0.8884758364312267

In [50]:
result.predictions.show()

+--------------------+-----+--------------------+--------------------+----------+
|            features|Churn|       rawPrediction|         probability|prediction|
+--------------------+-----+--------------------+--------------------+----------+
|[26.0,8787.39,1.0...|    1|[1.21176013528534...|[0.77061023652597...|       0.0|
|[26.0,8939.61,0.0...|    0|[6.77085844181409...|[0.99885460359275...|       0.0|
|[27.0,8628.8,1.0,...|    0|[5.97132312607063...|[0.99745562628109...|       0.0|
|[28.0,11245.38,0....|    0|[4.15211518045634...|[0.98451252794298...|       0.0|
|[29.0,5900.78,1.0...|    0|[4.43184780729417...|[0.98824727489681...|       0.0|
|[29.0,9378.24,0.0...|    0|[5.07702314662677...|[0.99380022464341...|       0.0|
|[30.0,8403.78,1.0...|    0|[6.36348180862724...|[0.99827960898761...|       0.0|
|[30.0,8874.83,0.0...|    0|[3.42653746298658...|[0.96852368144363...|       0.0|
|[30.0,10744.14,1....|    1|[2.24688700599606...|[0.90438167617939...|       0.0|
|[30.0,11575.37,1....|    1|[4.55606455349106...|[0.98960585996554...|       0.0|
|[31.0,7073.61,0.0...|    0|[3.23018808924630...|[0.96195463720105...|       0.0|
|[31.0,8688.21,0.0...|    0|[6.85845422049939...|[0.99895056589282...|       0.0|
|[31.0,8829.83,1.0...|    0|[4.85389774479052...|[0.99226241319303...|       0.0|
|[31.0,9574.89,0.0...|    0|[3.51447913629952...|[0.97109694869076...|       0.0|
|[31.0,11743.24,0....|    0|[7.08193249927176...|[0.99916055726293...|       0.0|
|[32.0,7896.65,0.0...|    0|[3.54176038129242...|[0.97185290698844...|       0.0|
|[32.0,9885.12,1.0...|    1|[2.19661233265878...|[0.89994488448307...|       0.0|
|[32.0,10716.75,0....|    0|[4.69700242136099...|[0.99095988735360...|       0.0|
|[32.0,12403.6,0.0...|    0|[5.97378892764744...|[0.99746187656869...|       0.0|
|[32.0,12479.72,0....|    0|[4.96127075229876...|[0.99304469332129...|       0.0|
+--------------------+-----+--------------------+--------------------+----------+
only showing top 20 rows

In [51]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [52]:
evaluator = BinaryClassificationEvaluator(rawPredictionCol='prediction', labelCol='Churn')

In [55]:
accu = evaluator.evaluate(result.predictions)

In [56]:
accu

0.764711520030669

In [35]:
df_test = spark.read.csv('new_customers.csv', inferSchema=True, header=True)

In [36]:
df_test.show()

+--------------+----+--------------+---------------+-----+---------+-------------------+--------------------+----------------+
|         Names| Age|Total_Purchase|Account_Manager|Years|Num_Sites|       Onboard_date|            Location|         Company|
+--------------+----+--------------+---------------+-----+---------+-------------------+--------------------+----------------+
| Andrew Mccall|37.0|       9935.53|              1| 7.71|      8.0|2011-08-29 18:37:54|38612 Johnny Stra...|        King Ltd|
|Michele Wright|23.0|       7526.94|              1| 9.28|     15.0|2013-07-22 18:19:54|21083 Nicole Junc...|   Cannon-Benson|
|  Jeremy Chang|65.0|         100.0|              1|  1.0|     15.0|2006-12-11 07:48:13|085 Austin Views ...|Barron-Robertson|
|Megan Ferguson|32.0|        6487.5|              0|  9.4|     14.0|2016-10-28 05:32:13|922 Wright Branch...|   Sexton-Golden|
|  Taylor Young|32.0|      13147.71|              1| 10.0|      8.0|2012-03-20 00:36:46|Unit 0789 Box 073...|        Wood LLC|
| Jessica Drake|22.0|       8445.26|              1| 3.46|     14.0|2011-02-04 19:29:27|1148 Tina Straven...|   Parks-Robbins|
+--------------+----+--------------+---------------+-----+---------+-------------------+--------------------+----------------+

In [38]:
df_test.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Total_Purchase: double (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Years: double (nullable = true)
 |-- Num_Sites: double (nullable = true)
 |-- Onboard_date: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)

In [39]:
AssembledVect = VectorAssembler(inputCols=['Age', 'Total_Purchase', 
                                          'Account_Manager', 'Years', 
                                          'Num_Sites'], outputCol='features')

In [40]:
df_test_new = AssembledVect.transform(df_test)

In [41]:
df_test_ready = df_test_new.select('features')

In [42]:
df_test_ready.show()

+--------------------+
|            features|
+--------------------+
|[37.0,9935.53,1.0...|
|[23.0,7526.94,1.0...|
|[65.0,100.0,1.0,1...|
|[32.0,6487.5,0.0,...|
|[32.0,13147.71,1....|
|[22.0,8445.26,1.0...|
+--------------------+

In [58]:
final_train = model.fit(df_n)

In [60]:
Test_Result = final_train.transform(df_test_ready)

In [61]:
Test_Result.summary().show()

+-------+------------------+
|summary|        prediction|
+-------+------------------+
|  count|                 6|
|   mean|0.6666666666666666|
| stddev|0.5163977794943223|
|    min|               0.0|
|    25%|               0.0|
|    50%|               1.0|
|    75%|               1.0|
|    max|               1.0|
+-------+------------------+

In [62]:
Test_Result.show()

+--------------------+--------------------+--------------------+----------+
|            features|       rawPrediction|         probability|prediction|
+--------------------+--------------------+--------------------+----------+
|[37.0,9935.53,1.0...|[2.22168705251440...|[0.90218018099704...|       0.0|
|[23.0,7526.94,1.0...|[-6.2207530595020...|[0.00198380445828...|       1.0|
|[65.0,100.0,1.0,1...|[-3.7691621189402...|[0.02255110110413...|       1.0|
|[32.0,6487.5,0.0,...|[-5.0956222016519...|[0.00608622642084...|       1.0|
|[32.0,13147.71,1....|[1.10475867224153...|[0.75115067517475...|       0.0|
|[22.0,8445.26,1.0...|[-1.6896019277064...|[0.15582819767635...|       1.0|
+--------------------+--------------------+--------------------+----------+

In [80]:
arr = [1,2,3,4,5,6,7,8]

In [89]:
def shift(arr, d):
#     a = []
#     b = []
#     for i in range(d):
#         a.append(arr[i])
        
#     for j in range(d, len(arr)):
#         b.append(arr[j]) 
#     b.extend(a)
    a = arr[d:]
    a.extend(arr[:d])
    return a

In [90]:
shift(arr, 2)

In [95]:
arr is None

False